<h3>以下のコメントで、送信する。</h3>
<%= form_with(model: @picture, local: true) do |form| %>
  <%= form.hidden_field :image %>
  <%= form.hidden_field :content %>
  <p>イメージ:<%= @picture.image %></p>
  <p>テキスト:<%= @picture.content %></p>
  <%= form.submit  "登録する" %>
  <%= form.submit "戻る", name: 'back' %>
<% end %>
